/* Redefinindo padding, margin e box-sizing padrão para todos os elementos */
* {
        padding: 0; /* Remove o padding padrão */
        margin: 0; /* Remove a margem padrão */
        box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
        font-family: Arial, sans-serif; /* Define a fonte padrão como Arial, com fallback para sans-serif */
}

/* ESTILOS DO HEADER */
header {
        padding: 10px; /* Adiciona padding de 10px ao redor do header */
        background-color: rgb(21, 21, 21); /* Define a cor de fundo do header */
        display: flex; /* Define o layout do header como flexbox */
        align-items: center; /* Alinha os itens do header ao centro verticalmente */
        justify-content: space-between; /* Distribui os itens do header com espaço entre eles */
}

/* Estilos para elementos ul, li, a dentro do header */
header ul, li, a {
        display: flex; /* Define o layout dos elementos como flexbox */
        gap: 16px; /* Define um espaçamento de 16px entre os itens */
        text-decoration: none; /* Remove a sublinhado dos links */
        color: rgb(235, 235, 235); /* Define a cor do texto dos links */
}

/* Estilo para o logo no header */
header .logo {
        color: rgb(235, 235, 235); /* Define a cor do texto do logo */
        font-size: 26px; /* Define o tamanho da fonte do logo */
        font-weight: bold; /* Define o peso da fonte do logo como negrito */
}

/* Estilo para as tags a no header */
header a {
        color: rgb(255, 255, 255); /* Define a cor do texto dos links */
        font-size: 16px; /* Define o tamanho da fonte dos links */
}

/* ESTILOS DO CORPO */

/* Estilo para elementos h3 */
h3 {
        padding: 20px; /* Adiciona padding de 20px ao redor do h3 */
        text-align: center; /* Alinha o texto do h3 ao centro */
        font-size: 26px; /* Define o tamanho da fonte do h3 */
}

/* Estilo para elementos section */
section {
        display: flex; /* Define o layout da section como flexbox */
        justify-content: flex-start; /* Alinha os itens da section ao início */
     flex-wrap: wrap; /* Permite que os itens da section quebrem linha */
        width: 80%; /* Define a largura da section como 80% do container pai */
        margin: 0 auto; /* Centraliza a section horizontalmente */
     padding: 20px; /* Adiciona padding de 20px ao redor da section */
        color: rgb(0, 0, 0); /* Define a cor do texto da section */
}

/* Estilo para elementos article */
article {
        padding: 20px; /* Adiciona padding de 20px ao redor do article */
     flex-grow: 1; /* Permite que o article cresça conforme necessário */
     width: 270px; /* Define a largura mínima do article */
     max-width: 600px; /* Define a largura máxima do article */
}

/* Estilo para elementos img */
img {
        width: 100%; /* Define a largura da imagem como 100% do container pai */
        height: auto; /* Ajusta a altura da imagem automaticamente */
        max-width: 600px; /* Define a largura máxima da imagem */
}

/* Estilo para elementos p */
p {
        font-weight: bold; /* Define o peso da fonte do parágrafo como negrito */
        text-align: center; /* Alinha o texto do parágrafo ao centro */
}

/* ESTILOS RESPONSIVOS */

/* Estilos para dispositivos com largura máxima de 799px */
@media (max-width: 799px) {
    header {
        display: grid; /* Define o layout do header como grid */
        grid-template-columns: auto 1fr; /* Define duas colunas no grid */
        align-items: center; /* Alinha os itens do header ao centro verticalmente */
        height: auto; /* Ajusta a altura do header automaticamente */
    }
    header ul, li, a {
        gap: 3px; /* Define um espaçamento de 3px entre os itens */
    }
    header a {
        font-size: 45px; /* Define o tamanho da fonte dos links no header */
        margin-left: 40px; /* Adiciona uma margem à esquerda dos links */
    }

    header nav a {
        margin-left: 0px; /* Remove a margem à esquerda dos links no nav */
        font-size: 20px; /* Define o tamanho da fonte dos links no nav */
    }

    header nav li {
        background-color: rgb(226, 223, 223); /* Define a cor de fundo dos itens da lista no nav */
        width: 100%; /* Define a largura dos itens da lista no nav como 100% */
    }

    nav {
        justify-self: end; /* Alinha o nav ao final do container pai */
    }

    nav ul {
        display: flex; /* Define o layout da lista no nav como flexbox */
        flex-direction: column; /* Define a direção dos itens da lista como coluna */
        align-items: flex-start; /* Alinha os itens da lista ao início */
    }

    nav ul li {
        margin: 10px 0; /* Adiciona uma margem de 10px acima e abaixo dos itens da lista */
        text-align: start; /* Alinha o texto dos itens da lista ao início */
    }
}